```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet">

</head>

<body>

<div class="sidebar">

    <h2>MediCare 💊</h2>

    <a href="/dashboard">
        Dashboard
    </a>

    <a href="/history">
        History
    </a>

    <a href="/logs">
        Activity Logs
    </a>

    <a href="/analytics">
        Analytics
    </a>

    <a href="/logout">
        Logout
    </a>

</div>


<div class="main">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <script>
    setTimeout(function(){
        document.querySelectorAll('.flash').forEach(function(el){
            el.style.display = 'none';
        });
    }, 3000);
    </script>

    <div class="topbar">

        <h1>
            Hello {{ username }} 👋
        </h1>

        <button id="darkBtn">
            🌙
        </button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </div>


    <!-- SEARCH -->

    <input
    type="text"
    id="searchInput"
    placeholder="Search medicine..."
    class="search-box">


    <!-- STATS -->

    <div class="stats">

        <div class="card">

            <h3>Total Medicines</h3>

            <p>
                {{ medicines|length }}
            </p>

        </div>


        <div class="card">

            <h3>Taken</h3>

            <p>

                {{
                medicines
                | selectattr(
                "status",
                "equalto",
                "Taken"
                )
                | list
                | length
                }}

            </p>

        </div>


        <div class="card">

            <h3>Pending</h3>

            <p>

                {{
                medicines
                | selectattr(
                "status",
                "equalto",
                "Pending"
                )
                | list
                | length
                }}

            </p>

        </div>

    </div>


    <!-- ADD MEDICINE -->

    <div class="add-box">

        <h2>
            Add Medicine
        </h2>

        <form action="/add"
        method="POST">

            <input
            name="medicine"
            placeholder="Medicine Name"
            required>

            <input
            name="dose"
            placeholder="Dosage"
            required>

            <input
            type="time"
            name="time"
            required>

            <input
            type="date"
            name="date"
            required>

            <textarea
            name="notes"
            placeholder="Medicine Notes"
            rows="3">
            </textarea>


            <button>
                Add Medicine
            </button>

        </form>

    </div>


    <!-- MEDICINE LIST -->

    <div class="medicine-list"
    id="medicineList">

    {% for m in medicines %}

        <div class="medicine-card">
            <h3 class="medicine-name">
                💊 {{ m.medicine_name }}
            </h3>


            <p>
                {{ m.dosage }}
            </p>

            <p class="date">
                📅  {{ m.medicine_date }}
            </p>

            <p class="medicine-time">
                ⏰  {{ m.time }}
            </p>
            
            {% if m.notes %}

            <p>
                📝 <strong>Notes:</strong>
                {{ m.notes }}
            </p>
            {% endif %}
            <button
            onclick="speakMedicine('{{ m.medicine_name }}','{{ m.time }}')"
            class="voice-btn">

            🔊 Remind

            </button>



            <p>

                Status :

                <span class="
                {% if m.status == 'Taken' %}
                taken
                {% endif %}
                ">

                    {{ m.status }}

                </span>

            </p>


            <div class="actions">

                {% if m.status != "Taken" %}
                <a href="{{ url_for('taken', id=m.id) }}">
                    Taken
                </a>
                {% endif %}

                <a href="/edit/{{ m.id }}">
                    Edit
                </a>

                <a href="/delete/{{ m.id }}">
                    Delete
                </a>

            </div>

        </div>

    {% endfor %}

    </div>

</div>


<script
src="{{ url_for('static',
filename='js/script.js') }}">
</script>

</body>
</html>
```
