<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Edit Medicine</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body class="auth-body">

<div class="auth-container">

<div class="auth-card">

<h1>Edit Medicine 💊</h1>

<form method="POST">

<input
name="medicine"
value="{{med.medicine_name}}"
required>

<input
name="dose"
value="{{med.dosage}}"
required>

<input
type="time"
name="time"
value="{{med.time}}"
required>

<input
type="date"
name="date"
value="{{med.medicine_date}}"
required>

<textarea
    name="notes"
    rows="4">{{ med.notes }}</textarea>

<button>
Update
</button>

</form>

<a href="/dashboard">
Back
</a>

</div>

</div>

</body>
</html>