<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Logs</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">

    <h2>💊 MediCare</h2>

    
</div>

<div class="main">

    <div class="topbar">

        <h1>📋 Activity Logs</h1>

        

    </div>

    <br>

    {% if logs %}

    <div class="medicine-list">

        {% for log in logs %}

        <div class="log-card">

            <h3>📝 {{ log.action }}</h3>

            <p>
                <strong>Date & Time:</strong><br>
                {{ log.timestamp.strftime('%d-%m-%Y %I:%M %p') }}
            </p>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="card">

        <h3>No Activity Found</h3>

        <p>
            Your account activities will appear here.
        </p>

    </div>

    {% endif %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>